 <div class="row">
     <div class="col-xs-12 col-md-4 col-md-offset-4">
        <form class="well form-auth">
             <div class="form-group">
                <label for="email">Email</label>
                <input placeholder="samsun@example.com"  type="text" class="form-control" id="email" ng-model="form.email">
            </div>
            
             <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" ng-model="form.password">
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block" ng-click="signin()">Signin</button>
            </div>
        </form>
    </div>
 </div>

