
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Fixed Top Navbar Example for Bootstrap</title>
    <link rel="icon" href="../../favicon.ico">
 
    
   
    
    <!--Libs-->
    <script type="text/javascript" src="libs/angular/angular.js"></script>
    <script type="text/javascript" src="libs/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="libs/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="libs/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="./libs/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="./libs/grammacalendar/gammacalendar.js" type="text/javascript"></script>
    <link href="./libs/grammacalendar/gammacalendar.css" rel="stylesheet" type="text/css"></link>
    <!-- Bootstrap core CSS -->
    <link href="./libs/bootstrap/bootstrap.css" rel="stylesheet">
    <script src="./libs/bootstrap/bootstrap.js" type="text/javascript"></script>
    <!--<link href="libs/bootstrap/carousel.css" rel="stylesheet">-->

    <!--Service-->
    <script src="./js/app.js" type="text/javascript"></script>
    <script src="./js/services/Api.js" type="text/javascript"></script>
    
    <!--Controller-->
    <script src="./js/controllers/homeController.js" type="text/javascript"></script>
    <script src="./js/controllers/contactController.js" type="text/javascript"></script>
    <script src="./js/controllers/aboutController.js" type="text/javascript"></script>
    <script src="./js/controllers/navController.js" type="text/javascript"></script>
    <script src="./js/controllers/signupController.js" type="text/javascript"></script>
    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="navbar-fixed-top.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <scrpt src="../../assets/js/ie-emulation-modes-warning.js"></script>
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
            $(function() {
                $('#example1').gammacalendar([{
                    date: new Date(2014, 2, 12),
                    value: 100
                }, {
                    date: new Date(2014, 2, 11),
                    value: 90
                }, {
                    date: new Date(2014, 2, 10),
                    value: 80
                }, {
                    date: new Date(2014, 2, 9),
                    value: 70
                }, {
                    date: new Date(2014, 2, 8),
                    value: 600
                }, {
                    date: new Date(2014, 2, 7),
                    value: 500
                }, {
                    date: new Date(2014, 2, 6),
                    value: 400
                }, {
                    date: new Date(2014, 2, 5),
                    value: 300
                }, {
                    date: new Date(2014, 2, 4),
                    value: 200
                }, {
                    date: new Date(2014, 2, 3),
                    value: 100
                }, {
                    date: new Date(2014, 2, 2),
                    value: 200
                }, {
                    date: new Date(2014, 2, 1),
                    value: 300
                }, {
                    date: new Date(2014, 1, 28),
                    value: 400
                }, {
                    date: new Date(2014, 1, 27),
                    value: 500
                }, {
                    date: new Date(2014, 1, 26),
                    value: 60
                }, {
                    date: new Date(2014, 1, 25),
                    value: 70
                }, {
                    date: new Date(2014, 1, 24),
                    value: 80
                }, {
                    date: new Date(2014, 1, 23),
                    value: 90
                }, {
                    date: new Date(2014, 1, 22),
                    value: 100
                }], {
                    weeks: 52 ,
                    i18n: 'en',
                    startOnSunday: true,
                    highlightToday: false,
                    baseColor: {
                        r: 0,
                        g: 136,
                        b: 204
                    },
                    nullColor: { //color for value === 0 or null
                        r: 238, g: 238, b: 238
                    }
                });
            });

            // var myCulture = {
            //   daysOfWeek: ['週一', '週二', '週三', '週四', '週五', '週六', '週日'],

            //   months: ['一月', '二月八月', '三月', '四月', '五月', '六月',
            //          '七月', '八月', '九月', '十月', '十一月', '十二月']
            // };
        </script>

  <body ng-app="myApp">
    <div class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" ng-controller="navController">
              <ul class="nav navbar-nav">
                <li ng-class="{active: isActive('/home')}"><a href="/home">Home</a></li>
                <li ng-class="{active: isActive('/ahout')}"><a href="/about">About</a></li>
                <li ng-class="{active: isActive('/contact')}"><a href="/contact">Contact</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/projects/signup">Signup</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <!--<div id="example1"></div>-->
      <div ng-view></div>
      <hr class="featurette-divider">
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>
